
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #495e57; 
    position: relative;
  }
  
  h1 {
    color: white;
    font-size: 24px;
    margin: 0;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-icon {
    font-size: 24px;
    color: white;
  }
  

  .navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 20px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  }
  